# Example Linear Regression

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
p_df = sns.load_dataset('penguins')

In [3]:
p_df = p_df.dropna()

In [4]:
p_df = p_df.reset_index()

In [5]:
p_df.head()

,index,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

### We want to predict the weight of the penguins based on their flipper_length!

## X-y split

In [49]:
X = p_df['flipper_length_mm']
y = p_df['body_mass_g']

## Train-Test split

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [52]:
X_train

22     187.0
284    221.0
294    212.0
56     185.0
175    205.0
       ...
188    196.0
71     184.0
106    193.0
270    220.0
102    181.0
Name: flipper_length_mm, Length: 233, dtype: float64

In [16]:
X_test

25     178.0
309    222.0
73     195.0
195    198.0
57     192.0
       ...
15     174.0
6      195.0
209    207.0
93     192.0
30     196.0
Name: flipper_length_mm, Length: 100, dtype: float64

In [18]:
y_train

array([[3200.],
       [5100.],
       [4725.],
       [3600.],
       [4550.],
       [3700.],
       [5550.],
       [5850.],
       [3500.],
       [3750.],
       [3000.],
       [4625.],
       [3825.],
       [3700.],
       [4300.],
       [3700.],
       [3325.],
       [4200.],
       [3550.],
       [3400.],
       [3950.],
       [3325.],
       [4900.],
       [3650.],
       [3800.],
       [4925.],
       [2900.],
       [3550.],
       [4250.],
       [3650.],
       [3075.],
       [4250.],
       [3600.],
       [3700.],
       [3150.],
       [3100.],
       [6050.],
       [4150.],
       [5000.],
       [3700.],
       [3500.],
       [5200.],
       [3400.],
       [4750.],
       [3250.],
       [5000.],
       [3650.],
       [5950.],
       [5100.],
       [4400.],
       [3775.],
       [4550.],
       [3900.],
       [4400.],
       [5050.],
       [4050.],
       [4400.],
       [3350.],
       [3250.],
       [3250.],
       [3875.],
       [5500.],
       [5000.],
       [4950.],
       [3450.],
       [5150.],
       [4650.],
       [4150.],
       [6300.],
       [3250.],
       [3500.],
       [3800.],
       [5550.],
       [3275.],
       [4700.],
       [6000.],
       [4475.],
       [3200.],
       [3325.],
       [3600.],
       [4700.],
       [4275.],
       [4800.],
       [5800.],
       [4250.],
       [2700.],
       [4800.],
       [3500.],
       [5200.],
       [3900.],
       [4625.],
       [4300.],
       [3950.],
       [3700.],
       [4050.],
       [4500.],
       [3150.],
       [3900.],
       [3300.],
       [3450.],
       [4700.],
       [3975.],
       [5050.],
       [3800.],
       [4725.],
       [5700.],
       [3350.],
       [3800.],
       [4000.],
       [3425.],
       [4300.],
       [5400.],
       [3950.],
       [3050.],
       [3900.],
       [5850.],
       [3475.],
       [5050.],
       [3750.],
       [5300.],
       [4700.],
       [5400.],
       [3750.],
       [3400.],
       [5800.],
       [5400.],
       [3775.],
       [4775.],
       [4150.],
       [2925.],
       [3900.],
       [4300.],
       [4100.],
       [3725.],
       [4050.],
       [5150.],
       [4975.],
       [3450.],
       [4850.],
       [3350.],
       [4600.],
       [3300.],
       [5300.],
       [4150.],
       [5350.],
       [3650.],
       [3050.],
       [3550.],
       [4950.],
       [3300.],
       [4750.],
       [5200.],
       [5550.],
       [3000.],
       [3050.],
       [5700.],
       [3475.],
       [3425.],
       [3800.],
       [3600.],
       [4200.],
       [3800.],
       [4600.],
       [4850.],
       [4450.],
       [4450.],
       [4750.],
       [4400.],
       [3650.],
       [4100.],
       [4750.],
       [4350.],
       [5500.],
       [5650.],
       [4300.],
       [3450.],
       [4050.],
       [4150.],
       [5700.],
       [3675.],
       [4200.],
       [4600.],
       [3750.],
       [3800.],
       [3700.],
       [3800.],
       [3525.],
       [4650.],
       [4850.],
       [4350.],
       [2850.],
       [5300.],
       [4600.],
       [3325.],
       [3300.],
       [4200.],
       [3600.],
       [6000.],
       [3400.],
       [5500.],
       [5250.],
       [3150.],
       [3550.],
       [3700.],
       [3500.],
       [5200.],
       [3650.],
       [3800.],
       [2850.],
       [2900.],
       [5000.],
       [5350.],
       [3550.],
       [3575.],
       [5650.],
       [4450.],
       [5450.],
       [5550.],
       [4925.],
       [3525.],
       [3175.],
       [3950.],
       [3550.],
       [4450.],
       [4500.],
       [4300.],
       [5400.],
       [3800.],
       [3550.],
       [3900.],
       [3200.],
       [5000.],
       [3175.]])

In [19]:
y_test

25     3250.0
309    4875.0
73     4000.0
195    3675.0
57     4050.0
        ...
15     3400.0
6      4675.0
209    4000.0
93     4100.0
30     4150.0
Name: body_mass_g, Length: 100, dtype: float64

## Model Generation

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
X_train = np.array(X_train).reshape(-1,1)
y_train = np.array(y_train).reshape(-1,1)

In [13]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [20]:
print(model.coef_)
print(model.intercept_)

[[51.32743793]]
[-6118.66754338]

In [23]:
X_test = np.array(X_test).reshape(-1,1)
y_test = np.array(y_test).reshape(-1,1)

In [24]:
y_pred = model.predict(X_test)

In [25]:
y_test - y_pred

array([[ 232.38359244],
       [-401.02367633],
       [ 109.81714769],
       [-369.16516609],
       [ 313.79946147],
       [ -12.74929707],
       [ 222.64888574],
       [-290.18285231],
       [ -12.52797646],
       [-248.14747987],
       [ 758.48970976],
       [ 355.83483391],
       [  17.56045464],
       [-287.52797646],
       [-260.09442121],
       [  23.09152695],
       [-329.5633489 ],
       [-236.20053853],
       [ 320.4366511 ],
       [-465.40417292],
       [ 133.48970976],
       [  91.45433732],
       [ -83.98830389],
       [-250.80235573],
       [ 453.40127866],
       [-630.89078683],
       [ 285.92326501],
       [-164.07673499],
       [ 528.40127866],
       [ 314.68425818],
       [-579.5633489 ],
       [-136.64317975],
       [ 405.83483391],
       [-699.4749178 ],
       [  13.35682025],
       [  -8.76698329],
       [ -40.18285231],
       [-607.43954536],
       [-183.54566268],
       [-378.23591097],
       [ 128.40127866],
       [-183.54566268],
       [-746.82004195],
       [-195.49260402],
       [-257.21822475],
       [  70.4366511 ],
       [  75.30376159],
       [ 769.10921317],
       [ 266.45433732],
       [-272.04136255],
       [ -11.20053853],
       [ 830.6135133 ],
       [  88.57814086],
       [ 479.72871659],
       [ 215.12689939],
       [ 226.63119952],
       [ -22.92615927],
       [ 509.81714769],
       [ -41.51029024],
       [-200.80235573],
       [  16.01169611],
       [ 583.26838915],
       [-473.36880048],
       [-337.52797646],
       [ 412.47202354],
       [-180.00599011],
       [-540.18285231],
       [-215.40417292],
       [-334.87310061],
       [ -28.67855219],
       [ 217.78177525],
       [ 829.72871659],
       [ 127.95863745],
       [-644.3864867 ],
       [  83.26838915],
       [ 101.85252013],
       [ 367.78177525],
       [-320.49260402],
       [ -37.52797646],
       [ 733.26838915],
       [ 535.03846829],
       [ 616.45433732],
       [-279.5633489 ],
       [  66.45433732],
       [  16.01169611],
       [-119.3864867 ],
       [ 316.45433732],
       [ 112.25070293],
       [  96.54276842],
       [-284.87310061],
       [ 629.28607537],
       [ 473.97632367],
       [-198.14747987],
       [ 213.79946147],
       [ -95.49260402],
       [ 587.69334415],
       [ 784.81714769],
       [-506.11210743],
       [ 363.79946147],
       [ 208.48970976]])

In [26]:
compare = pd.DataFrame({'y_test':list(y_test), 'y_pred':list(y_pred)})

In [27]:
compare

      y_test                y_pred
0   [3250.0]   [3017.616407560008]
1   [4875.0]   [5276.023676332345]
2   [4000.0]   [3890.182852312955]
3   [3675.0]  [4044.1651660928874]
4   [4050.0]   [3736.200538533025]
..       ...                   ...
95  [3400.0]   [2812.306655853432]
96  [4675.0]   [3890.182852312955]
97  [4000.0]   [4506.112107432684]
98  [4100.0]   [3736.200538533025]
99  [4150.0]  [3941.5102902395993]

[100 rows x 2 columns]

#### Model evaluation

In [53]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse

In [54]:
mse(y_test,y_pred)

138931.09920252106

In [55]:
mae(y_test,y_pred)

299.39047755852704

In [56]:
import matplotlib.pyplot as plt